<html>
  <head>

  </head>
    <body>
        <form action="/jobs" method="post"> 
          <label for="name"></label>
          <input type="text" name="name" id="name">
          <label for="Company"></label>
          <input type="text" name="Company" id="company">
          <label for="Position"></label>
          <input type="text" name="position" id="position">
          <input type="submit">
        </form>
        
    </body>
</html>